
## Project overview
Healthcare is vital for individuals and society, as it promotes well-being, prevents diseases,promoting health equity and many more.

This  project is crucial for creating healthier societies and fostering a culture of proactive health management.

## Business understanding
#### Problem statement
Develop a recommendetion system for exercise intensity that provides personalized recommendations on appropriate workout intensities based on individual characteristics, including age, gender, BMI, exercise duration, heart rate, calories burned, weather conditions, and desired weight goals. The goal is to guide individuals in selecting exercise intensities that optimize their fitness outcomes, taking into account their specific attributes and preferences.
#### Business Understanding
In today's thriving fitness and wellness industry, the development of a recommender system for exercise intensity presents valuable business opportunities. Fitness centers, gyms, and personal trainers can leverage this system to offer tailored workout programs that align with individual goals, preferences, and fitness levels, ultimately attracting and retaining members. Wellness apps and platforms can integrate the recommender system to deliver personalized exercise recommendations, enhancing the user experience and setting them apart from competitors. Healthcare providers can utilize the system to promote physical activity as a means of disease prevention and management, while corporate wellness programs can leverage it to support employee well-being and productivity. By incorporating an exercise intensity recommender system, businesses can optimize workout effectiveness, increase customer satisfaction, and differentiate their offerings in a competitive market.

#### Objectives
Overall Objective: Develop a Recommender System for Personalized Exercise Intensity

1. To personalize exercise intensity recommendations. Build a recommendation system based on individual characteristics such as age, gender, body mass index (BMI), exercise duration, heart rate, calories burned, weather conditions, and desired weight goals.
2. Develop a model that can predict the optimal exercise intensity for a given individual. 
3. Identify the factors that contribute to optimal exercise intensity.
4. To develop a recommender system that can dynamically adjust exercise intensity recommendations based on changing weather conditions. The system should consider the impact of different weather conditions on workout performance and suggest appropriate exercise intensities accordingly

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import phik
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import OrdinalEncoder, Normalizer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

:

In [169]:
df1 = pd.read_csv('exercise_datasett.csv')
df1

,ID,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,1,Exercise 2,286.959851,91.892531,96.301115,45.0,Male,37.0,170.0,29.426275,Rainy,5.0
1,2,Exercise 7,343.453036,64.165097,61.104668,25.0,Male,43.0,142.0,21.286346,Rainy,5.0
2,3,Exercise 4,261.223465,70.846224,71.766724,20.0,Male,20.0,148.0,27.899592,Cloudy,4.0
3,4,Exercise 5,127.183858,79.477008,82.984456,33.0,Male,39.0,170.0,33.729552,Sunny,10.0
4,5,Exercise 10,416.318374,89.960226,85.643174,29.0,Female,34.0,118.0,23.286113,Cloudy,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
100063,100064,Exercise 2,205.872575,80.355223,70.516820,22.0,Female,48.0,153.0,63.267795,Cloudy,3.0
100064,100065,Exercise 2,294.547811,98.703186,NaN,22.0,Male,53.0,148.0,51.359265,Cloudy,4.0
100065,100066,Exercise 2,258.779574,91.311974,84.096481,54.0,Male,35.0,166.0,61.164229,Cloudy,9.0
100066,100067,Exercise 3,269.916192,94.630249,85.552996,28.0,Male,55.0,NaN,39.910834,Rainy,5.0
100067,100068,Exercise 5,269.265321,87.741370,71.403662,29.0,NaN,28.0,152.0,41.920304,Rainy,8.0

In [170]:
df1.drop('ID',axis=1,inplace=True)
df1

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45.0,Male,37.0,170.0,29.426275,Rainy,5.0
1,Exercise 7,343.453036,64.165097,61.104668,25.0,Male,43.0,142.0,21.286346,Rainy,5.0
2,Exercise 4,261.223465,70.846224,71.766724,20.0,Male,20.0,148.0,27.899592,Cloudy,4.0
3,Exercise 5,127.183858,79.477008,82.984456,33.0,Male,39.0,170.0,33.729552,Sunny,10.0
4,Exercise 10,416.318374,89.960226,85.643174,29.0,Female,34.0,118.0,23.286113,Cloudy,3.0
...,...,...,...,...,...,...,...,...,...,...,...
100063,Exercise 2,205.872575,80.355223,70.516820,22.0,Female,48.0,153.0,63.267795,Cloudy,3.0
100064,Exercise 2,294.547811,98.703186,NaN,22.0,Male,53.0,148.0,51.359265,Cloudy,4.0
100065,Exercise 2,258.779574,91.311974,84.096481,54.0,Male,35.0,166.0,61.164229,Cloudy,9.0
100066,Exercise 3,269.916192,94.630249,85.552996,28.0,Male,55.0,NaN,39.910834,Rainy,5.0
100067,Exercise 5,269.265321,87.741370,71.403662,29.0,NaN,28.0,152.0,41.920304,Rainy,8.0

In [171]:
#import pandas as pd
#from pandas_profiling import ProfileReport

# Load the dataset
#data = pd.read_csv('exercise_datasett.csv')

# Generate the profile report
#profile = ProfileReport(data)

# Save the report to an HTML file
#profile.to_file('report.html')

In [172]:
# A function to print the shape of our datasets
def print_dataset_shape(*datasets):
    """
    Prints the shape of one or more datasets (number of rows and columns).
    Assumes datasets are in a Pandas DataFrame format.
    """
    for idx, dataset in enumerate(datasets):
        print(f"Dataset {idx + 1} - Number of rows: {dataset.shape[0]}")
        print(f"Dataset {idx + 1} - Number of columns: {dataset.shape[1]}")
# print the shape of our dataset
print_dataset_shape(df1)

Dataset 1 - Number of rows: 100068
Dataset 1 - Number of columns: 11

In [173]:
# Function to display the head of our datasets
def display_data_head(df1):
    dfs = [df1.head()]
    df_names = ["data"]
    for df, name in zip(dfs, df_names): 
        print(f"\n{name}:\n")
        display(df)
# Display the head of our datasets
display_data_head(df1)

data:

,Exercise,Calories Burn,Dream Weight,Actual Weight,Age,Gender,Duration,Heart Rate,BMI,Weather Conditions,Exercise Intensity
0,Exercise 2,286.959851,91.892531,96.301115,45.0,Male,37.0,170.0,29.426275,Rainy,5.0
1,Exercise 7,343.453036,64.165097,61.104668,25.0,Male,43.0,142.0,21.286346,Rainy,5.0
2,Exercise 4,261.223465,70.846224,71.766724,20.0,Male,20.0,148.0,27.899592,Cloudy,4.0
3,Exercise 5,127.183858,79.477008,82.984456,33.0,Male,39.0,170.0,33.729552,Sunny,10.0
4,Exercise 10,416.318374,89.960226,85.643174,29.0,Female,34.0,118.0,23.286113,Cloudy,3.0

In [174]:
#checking info of data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100068 entries, 0 to 100067
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Exercise            100068 non-null  object
 1   Calories Burn       90203 non-null   float64
 2   Dream Weight        90423 non-null   float64
 3   Actual Weight       90383 non-null   float64
 4   Age                 90428 non-null   float64
 5   Gender              90307 non-null   object
 6   Duration            90595 non-null   float64
 7   Heart Rate          90375 non-null   float64
 8   BMI                 90631 non-null   float64
 9   Weather Conditions  90580 non-null   object
 10  Exercise Intensity  90410 non-null   float64
dtypes: float64(8), object(3)
memory usage: 8.4+ MB

In [175]:
# A function to check for duplicates in our datasets
def check_duplicates(df):
    """
    This function checks for and returns any duplicates in a given dataframe.
    """
    duplicates = df[df.duplicated()]
    if duplicates.shape[0] == 0:
        print("No duplicates found in the dataset")
    else:
        print("Duplicates found in the dataset:")
        return duplicates
# Calling for the function to check for duplicates
check_duplicates(df1)

No duplicates found in the dataset

In [176]:
df1.columns

Index(['Exercise', 'Calories Burn', 'Dream Weight', 'Actual Weight', 'Age',
       'Gender', 'Duration', 'Heart Rate', 'BMI', 'Weather Conditions',
       'Exercise Intensity'],
      dtype='object')

## Missing Values

In [177]:
# A function to check for missing values in our dataset
def check_missing_values(data):
    # Count missing values in each column
    missing_values = data.isnull().sum()

    # Convert missing values count to percentage of total rows
    missing_percent = (missing_values / len(data)) * 100

    # Combine the missing values count and percent into a DataFrame
    missing_df = pd.concat([missing_values, missing_percent], axis=1)
    missing_df.columns = ['Missing Values', '% of Total']
# Return only columns with missing values
    missing_df = missing_df[missing_df['Missing Values'] > 0]

    return missing_df

# Check missing values in each dataset
display(check_missing_values(df1))

                    Missing Values  % of Total
Calories Burn                 9865    9.858296
Dream Weight                  9645    9.638446
Actual Weight                 9685    9.678419
Age                           9640    9.633449
Gender                        9761    9.754367
Duration                      9473    9.466563
Heart Rate                    9693    9.686413
BMI                           9437    9.430587
Weather Conditions            9488    9.481553
Exercise Intensity            9658    9.651437

Calories Burn, Dream Weight, Actual Weight, Duration,Heart Rate,Age, BMI, contains missing values and we will fill them.

In [178]:
# Fill missing values with the respective column's mean
# Calories Burn, Dream Weight, Actual Weight, Duration, Heart Rate, Age, BMI, Exercise Intensity

# Calculate the mean for each column
#mean_values = df1.mean()
#df1['Calories Burn'].fillna(mean_values['Calories Burn'], inplace=True)
#df1['Dream Weight'].fillna(mean_values['Dream Weight'], inplace=True)
#df1['Actual Weight'].fillna(mean_values['Actual Weight'], inplace=True)
#df1['Duration'].fillna(mean_values['Duration'], inplace=True)
#df1['Heart Rate'].fillna(mean_values['Heart Rate'], inplace=True)
#df1['Age'].fillna(mean_values['Age'], inplace=True)
#df1['BMI'].fillna(mean_values['BMI'], inplace=True)

In [179]:
df1['Calories Burn'].ffill(inplace=True)
df1['Dream Weight'].bfill(inplace=True)
df1['Actual Weight'].ffill(inplace=True)
df1['Duration'].bfill(inplace=True)
df1['Heart Rate'].ffill(inplace=True)
df1['Age'].bfill(inplace=True)
df1['BMI'].ffill(inplace=True)

Gender and Weather condition will use foward fill respectively

In [180]:
df1['Gender'].ffill(inplace=True)
df1['Weather Conditions'].ffill(inplace=True)
df1['Exercise Intensity'].ffill(inplace=True)

In [181]:
# Check missing values in each dataset
display(check_missing_values(df1))

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

## Feature Engineering

In [182]:
# check the unique variables for each category.
for col in df1.columns:
    print('\n' + col + '\n')
    print(df1[col].value_counts())

Exercise

Exercise 10    10127
Exercise 2     10105
Exercise 1     10070
Exercise 5     10048
Exercise 7     10009
Exercise 9      9993
Exercise 8      9991
Exercise 3      9927
Exercise 6      9921
Exercise 4      9877
Name: Exercise, dtype: int64

Calories Burn

237.542958    6
217.784733    5
214.131623    5
204.974168    5
265.465680    5
             ..
228.604435    1
297.014854    1
248.694817    1
272.475493    1
269.265321    1
Name: Calories Burn, Length: 90203, dtype: int64

Dream Weight

85.385625    7
92.403889    6
94.908972    5
86.068895    5
87.833227    5
            ..
95.467244    1
80.580730    1
80.729550    1
87.733271    1
87.741370    1
Name: Dream Weight, Length: 90423, dtype: int64

Actual Weight

87.189454    6
81.735644    6
84.374337    5
80.925622    5
85.600851    5
            ..
79.095936    1
83.156392    1
82.584261    1
89.203233    1
71.403662    1
Name: Actual Weight, Length: 90383, dtype: int64

Age

60.0    2531
35.0    2529
43.0    2528
58.0    2516
45.0    2511
55.0    2509
39.0    2496
59.0    2488
24.0    2483
32.0    2478
20.0    2475
30.0    2471
27.0    2469
31.0    2467
29.0    2465
36.0    2461
28.0    2454
46.0    2445
52.0    2438
22.0    2436
38.0    2436
49.0    2430
33.0    2428
56.0    2427
50.0    2420
26.0    2416
40.0    2415
54.0    2412
25.0    2405
48.0    2400
42.0    2400
23.0    2395
57.0    2392
51.0    2385
53.0    2380
47.0    2362
37.0    2352
21.0    2352
34.0    2346
44.0    2345
41.0    2340
19.0      94
18.0      86
Name: Age, dtype: int64

Gender

Male      50062
Female    50006
Name: Gender, dtype: int64

Duration

54.0    2467
38.0    2457
28.0    2423
56.0    2409
45.0    2404
40.0    2393
32.0    2389
21.0    2380
23.0    2373
44.0    2361
53.0    2351
24.0    2349
30.0    2348
33.0    2346
35.0    2338
36.0    2336
59.0    2332
50.0    2327
58.0    2327
39.0    2324
34.0    2321
49.0    2320
57.0    2320
51.0    2318
29.0    2316
42.0    2316
26.0    2310
46.0    2310
25.0    2309
43.0    2306
20.0    2302
22.0    2298
60.0    2292
31.0    2285
27.0    2284
41.0    2281
48.0    2280
37.0    2280
55.0    2271
47.0    2266
52.0    2265
18.0    2221
19.0    2163
Name: Duration, dtype: int64

Heart Rate

175.0    2017
180.0    2016
148.0    2012
158.0    2005
146.0    1993
         ...
132.0      38
136.0      36
130.0      36
131.0      35
127.0      32
Name: Heart Rate, Length: 91, dtype: int64

BMI

52.101732    6
68.183697    5
58.971084    5
62.573112    5
53.041031    5
            ..
32.371878    1
52.998238    1
35.716411    1
65.241546    1
41.920304    1
Name: BMI, Length: 90631, dtype: int64

Weather Conditions

Cloudy    33572
Rainy     33439
Sunny     33057
Name: Weather Conditions, dtype: int64

Exercise Intensity

3.0     10276
2.0     10038
5.0     10029
6.0      9997
7.0      9988
8.0      9987
4.0      9965
10.0     9951
9.0      9936
1.0      9901
Name: Exercise Intensity, dtype: int64

In [183]:
df2 = df1[['Age','Duration','BMI','Calories Burn']].copy()
df2

         Age  Duration        BMI  Calories Burn
0       45.0      37.0  29.426275     286.959851
1       25.0      43.0  21.286346     343.453036
2       20.0      20.0  27.899592     261.223465
3       33.0      39.0  33.729552     127.183858
4       29.0      34.0  23.286113     416.318374
...      ...       ...        ...            ...
100063  22.0      48.0  63.267795     205.872575
100064  22.0      53.0  51.359265     294.547811
100065  54.0      35.0  61.164229     258.779574
100066  28.0      55.0  39.910834     269.916192
100067  29.0      28.0  41.920304     269.265321

[100068 rows x 4 columns]

In [184]:
# Function to map BMI values to weight categories
def BMI(BMI):
    if BMI < 18.5:
        return 'Underweight'
    elif 18.5 <= BMI < 24.9:
        return 'Normal weight'
    elif 24.9 <= BMI < 29.9:
        return 'Overweight'
    elif 29.9 <= BMI < 34.9:
        return 'Obesity class I'
    elif 34.9 <= BMI < 39.9:
        return 'Obesity class II'
    else:
        return 'Obesity class III'

# Apply the categorize_bmi function to the 'BMI' column to create a new column representing weight categories
df2['Weight Category'] = df2['BMI'].apply(BMI)

In [185]:
# Function to map Duration values to duration categories
def Duration(Duration):
    if 18 <= Duration <=26:
        return '19-26 minutes'
    elif 27 <= Duration <=34:
        return '27-34 minutes'
    elif 35 <= Duration <=42:
        return '35-42 minutes'
    elif 43 <= Duration <=50:
        return '43-50 minutes'
    elif 51 <= Duration <=58:
        return '51-58 minutes'
    elif Duration >= 58:
        return '58 minutes and above'

# Apply the Duration_Category function to the 'Duration' column to create a new column representing duration categories
df2['minute duration'] = df2['Duration'].apply(Duration)

In [186]:
# Function to map Duration values to duration categories
def Age(Age):
    if 18 <= Age<=25:
        return '18-25'
    elif 26 <= Age <=33:
        return '26-33'
    elif 34 <= Age <=41:
        return '34-41'
    elif 42 <= Age <=49:
        return '43-50'
    elif 50 <= Age <=57:
        return '50-57'
    elif Age >= 58:
        return 'Age 58 and above'

# Apply the Duration_Category function to the 'Duration' column to create a new column representing duration categories
df2['Age group'] = df2['Age'].apply(Age)

In [187]:
# Function to map Duration values to duration categories
def Calories_Burn(Calories_Burn):
    if 100<= Calories_Burn<=200.999999:
        return '100-200'
    elif 201 <= Calories_Burn<=300.999999:
        return '201-300'
    elif 301 <= Calories_Burn<=400.999999:
        return '301-400'
    elif 401 <= Calories_Burn<=500:
        return '401-500'        
    

# Apply the Duration_Category function to the 'Duration' column to create a new column representing duration categories
df2['Calories group'] = df2['Calories Burn'].apply(Calories_Burn)

In [189]:
# Check missing values in each dataset
display(check_missing_values(df2))

Empty DataFrame
Columns: [Missing Values, % of Total]
Index: []

In [190]:
df2

,Age,Duration,BMI,Calories Burn,Weight Category,minute duration,Age group,Calories group
0,45.0,37.0,29.426275,286.959851,Overweight,35-42 minutes,43-50,201-300
1,25.0,43.0,21.286346,343.453036,Normal weight,43-50 minutes,18-25,301-400
2,20.0,20.0,27.899592,261.223465,Overweight,19-26 minutes,18-25,201-300
3,33.0,39.0,33.729552,127.183858,Obesity class I,35-42 minutes,26-33,100-200
4,29.0,34.0,23.286113,416.318374,Normal weight,27-34 minutes,26-33,401-500
...,...,...,...,...,...,...,...,...
100063,22.0,48.0,63.267795,205.872575,Obesity class III,43-50 minutes,18-25,201-300
100064,22.0,53.0,51.359265,294.547811,Obesity class III,51-58 minutes,18-25,201-300
100065,54.0,35.0,61.164229,258.779574,Obesity class III,35-42 minutes,50-57,201-300
100066,28.0,55.0,39.910834,269.916192,Obesity class III,51-58 minutes,26-33,201-300
100067,29.0,28.0,41.920304,269.265321,Obesity class III,27-34 minutes,26-33,201-300

In [191]:
df2.describe()

                 Age       Duration            BMI  Calories Burn
count  100068.000000  100068.000000  100068.000000  100068.000000
mean       39.980183      39.046638      49.117572     251.881957
std        11.877258      12.375654      12.193786      37.658396
min        18.000000      18.000000      18.500014     100.009403
25%        30.000000      28.000000      38.874726     224.651004
50%        40.000000      39.000000      49.174550     250.349445
75%        50.000000      50.000000      59.602215     276.029311
max        60.000000      60.000000      69.998277     499.859262

## EDA1

In [ ]:
df2['minute duration'].hist(bins=90)
plt.xlabel('Duration in minutes')
plt.ylabel('Count')
plt.title('ACount on Histogram')
plt.show()

:

In [ ]:
plt.scatter(df1.groupby(by='Exercise').mean().iloc[:,0], df1.groupby(by='Exercise').mean().iloc[:,6],color='blue',marker='x')
plt.xlabel("Mean Calories Burn by Exercise")
plt.ylabel("Mean BMI by Exercise")
plt.title('Calories Burn and BMI Relation')
plt.show()

In [ ]:
plt.plot(df1.groupby(by='Age').mean().index,df1.groupby(by='Age').mean().iloc[:,1],label='Actual Weight')
plt.plot(df1.groupby(by='Age').mean().index,df1.groupby(by='Age').mean().iloc[:,2],color='r',label='Dream Weight')
plt.xlabel('Age')
plt.ylabel('Mean Values')
plt.legend()
plt.show()

In [ ]:
plt.scatter(df1.groupby(by='Exercise').mean().iloc[:,0], df1.groupby(by='Exercise').mean().iloc[:,2],  color='red',marker='s')
plt.xlabel("Mean Calories Burn by Exercise")
plt.ylabel("Mean Actual Weight by Exercise")
plt.title('Calories Burn and Actual Weight Relation')
plt.show()

In [ ]:
ssp = sns.scatterplot(data=df1.head(50),x="Age",y="Actual Weight",hue="Gender",palette="husl",style='Exercise')
plt.title("Actual Weight to Age") 
sns.move_legend(ssp,loc="upper left",bbox_to_anchor=(1.01, 1))

In [ ]:
sns.pairplot(data = df1, height = 2);

In [ ]:
_, axs = plt.subplots(3, 2, figsize=[10,15])
cols = [
    (axs[0,0], 'Calories Burn'),
    (axs[0,1], 'Dream Weight'),
    (axs[1,0], 'Actual Weight'),
    (axs[1,1], 'Age'),
    (axs[2,0], 'Duration'),
    (axs[2,1], 'Heart Rate'),
]
for i, (ax, col) in enumerate(cols):
    ax.set(title=col)
    ax.hist(df1[col], bins=40)
plt.figure(figsize=[10,4])
plt.title('BMI')
plt.hist(df1['BMI'], bins=40)

_, axs = plt.subplots(2, 2, figsize=[11,11])
cols = [
    (axs[0,0], 'Exercise'),
    (axs[0,1], 'Exercise Intensity'),
    (axs[1,0], 'Gender'),
    (axs[1,1], 'Weather Conditions')
]

cmap = plt.get_cmap('Blues')

for i, (ax, col) in enumerate(cols):
    ax.set(title=col)
    values = df1[col].value_counts().sort_index()
    ind = values.index
    colors = list(cmap(np.linspace(0.1, 0.8, len(values))))
    ax.pie(
        values, 
        labels=ind, 
        autopct='%.1f%%', 
        colors=colors
    )

## EDA

In [ ]:
# Extract the "calories_burn" and "minutes_duration" data
calories_burn_data = df1['Calories Burn']
minutes_duration_data = df1['minutes duration']

# Create a scatter plot
plt.scatter(minutes_duration_data, calories_burn_data, color='blue', alpha=0.7)
plt.xlabel('Minutes Duration')
plt.ylabel('Calories Burn')
plt.title('Scatter Plot: Exercise Minute Duration vs. Calories Burned')

# Display the scatter plot
plt.show()

# Create a line plot
plt.plot(calories_burn_data,minutes_duration_data,  color='green')
plt.xlabel('Minutes Duration')
plt.ylabel('Calories Burn')
plt.title('Line Plot: Exercise Minute Duration vs. Calories Burned')

# Display the line plot
plt.show()

In [ ]:
#import matplotlib
#matplotlib.use('TkAgg')

In [ ]:
# Group the data by 'Gender' and get the valuecount 
gender_counts = df1['Gender'].value_counts()

#pie chart
plt.figure(figsize=(6, 6))
plt.pie(gender_counts, labels=gender_counts.index, autopct='%1.1f%%', startangle=90)
plt.title('Gender Distribution')
plt.axis('equal')  
plt.show()

In [ ]:
# function to plot bar plots for various variables(categorical variables)
def create_bar_plot(data, variable):
    
    # frequency Distribution of eachvariable
    variable_counts = data[variable].value_counts()
    
    # Create the bar plot
    plt.figure(figsize=(12, 6))
    variable_counts.plot(kind='bar')
    plt.title(f'Frequency Distribution of {variable}')
    plt.xlabel(variable)
    plt.ylabel('Frequency')
    plt.xticks(rotation=0)
    plt.show()

In [ ]:
# bar plot for weather conditions
create_bar_plot(df1, 'Weather Conditions')
# bar plot for Gender
create_bar_plot(df1, 'Gender')

In [ ]:
df1.columns

In [ ]:
control = df1[['Exercise', 'Age', 'Gender', 'Weather Conditions',
       'Exercise Intensity','Weight Category','minutes duration']].copy()
control.columns

In [ ]:
plt.figure(figsize=(20, 15))
plt.subplots_adjust(wspace=0.7)

for i, col in enumerate(control.columns):
    ax = plt.subplot(3, 3, i+1)
    chart_2 = pd.DataFrame(control[col].value_counts()).sort_index()
    chart_2.plot(ax=ax, kind='bar', legend=False, alpha=0.7)
    ax.set_title(col)

plt.tight_layout()
plt.show()